<%= form_tag do %>
  <div>
    <%= label_tag :items_count %><br>
    <%= text_field_tag :items_count, @items_count %>
  </div>

  <div>
    <%= label_tag :item_price %><br>
    <%= text_field_tag :item_price, @item_price %>
  </div>

  <div>
    <%= submit_tag %>
  </div>

<% end %>

<% if @total.present? %>
  <h4>Your total is $<%= @total %></h4>
<% end %>
